<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="giohji.tasks"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name="giohji.tasks.model.TasksWidgetSettings">
    		<intent-filter>
       			 <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
  			</intent-filter>
		</activity>
		<receiver android:name="giohji.tasks.model.TasksWidgetProvider" >
    		<intent-filter>
        		<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
        		<action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
    		</intent-filter>
    		<meta-data android:name="android.appwidget.provider"
            	   android:resource="@xml/tasks_info" />
		</receiver>
		        <activity android:name=".auth.TasksLogin"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="giohji.tasks.auth.LOGIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <service android:name="giohji.tasks.auth.TasksAuthenticatorService" android:exported="true" android:process=":auth">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/tasks_authenticator" />
        </service>
	<service android:name="giohji.tasks.model.TasksWidgetProvider$UpdateService" />
	<service android:name="giohji.tasks.controller.ControlService" />
	<activity android:name="giohji.tasks.view.EditTasksActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" android:label="Edit Task"/>
	</application>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

</manifest> 